@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  --primary: #022C4F;
  --light-blue: #ABCDFF;
  --secondary: #F1CF81;
  --neutral: #A7AAAD;

  --max-width-content: 960px;
  --longest-btn: 260px;

  --normal-letter-spacing: 1px;
  --medium-letter-spacing: 2px;
  --wide-letter-spacing: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow-x: hidden;
}

body {
  color: white;
  background-color: #022C4F;
}

.noDecoration {
  text-decoration: none;
}

.goldText {
  color: var(--secondary)
}

.lightBlueText {
  color: var(--light-blue)
}