@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: "Muli", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  --primary: #022C4F;
  --light-blue: #ABCDFF;
  --secondary: #F1CF81;
  --neutral: #e1e8ef;
  --neutral-2: #d0e0ef;

  --max-width-content: 960px;
  --longest-btn: 260px;

  --normal-letter-spacing: 1px;
  --medium-letter-spacing: 2px;
  --wide-letter-spacing: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow-x: hidden;

  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: #022C4F;
}

.noDecoration {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

.goldText {
  color: var(--secondary)
}

.lightBlueText {
  color: var(--light-blue)
}

.wideLetterSpacing {
  letter-spacing: var(--wide-letter-spacing);
}

.mediumLetterSpacing {
  letter-spacing: var(--medium-letter-spacing);
}

.btn {
  margin: .5rem;
  padding: .5rem;
  background-color: rgb(63, 63, 65);
  color: white;
  border: none;
  max-width: var(--longest-btn);
}

.btn:hover {
  box-shadow: 0 8px 8px -6px rgba(66, 68, 90, 1);
  background-color: rgba(26, 26, 26, .95);
  cursor: pointer;
}

.btn-landing {
  background-color: rgba(26, 26, 26, 0.9);
  margin: 0;
}

.leftBtn {
  border-right: 1px solid white
}

.rightBtn {
  border-left: 1px solid white;
}

.sectionInsetShadow {
  box-shadow: inset 0 -20px 18px -17px rgb(0, 0, 0);
}

.content {
  width: 100%;
  padding: 2rem 1rem;
  max-width: var(--max-width-content);
}

.btnArrow {
  position: absolute;
  top: 45%;
  color: white;
  font-size: 2rem;
}

.btnArrow:hover {
  cursor: pointer;
}

.leftArrowBtn {
  left: 0;
}

.rightArrowBtn {
  right: 0;
}


/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--neutral);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8abdef;
}