.container {
  background-color: var(--neutral);
}

.content {
  color: var(--primary);
}

.title {
  text-align: center;
}

.gallery {
  overflow: hidden;
  padding: .5rem;
}

.img {
  width: 215px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  transition: transform .25s ease;
}

.img:hover {
  cursor: pointer;
  transform: scale(1.03);
}


