.container {
  width: 100%;
}

.content {
  padding: 2rem 1rem;
  text-align: center;
  min-width: 50%;
}

.goldText {
  color: var(--secondary)
}

.link {
  letter-spacing: var(--wide-letter-spacing);
}