.container {
  margin: 2rem 0;
}

.content {
  letter-spacing: var(--wide-letter-spacing);
}

.logo {
  height: 6rem;
}

.info {
  letter-spacing: var(--normal-letter-spacing);
}

.info .infoItem {
  color: var(--neutral);
  font-size: .75rem;
}

.link {
  color: var(--neutral);
}

.copyright {
  color: var(--neutral);
}