.container {
  position: absolute;

}

.content {
  height: 3.5rem;
  width: 100%;
  max-width: var(--max-width-content);
}

.logo {
  height: 2.5rem;
  margin-left: 1rem;
}

.burgerButton {
  color: white;
}

.navLink {
  color: white;
  text-decoration: none;
  letter-spacing: var(--medium-letter-spacing);
}

.activeLink {
  color: var(--secondary);
}

.notActiveLink {
  color: black;
}

.linkText {
  padding: 0 .5rem;
}