.container {
  color: var(--light-blue);
}

.title {
  padding: .5rem 1rem;
  text-align: center;
}

.table {
  margin: 1rem;
  box-shadow: 0 0 10px #000000;
}

.btn {
  background-color: var(--secondary);
  width: 100%;
  box-shadow: 0 0 10px #000000;
  text-align: center;
}

.btnText {
  width: 100%;
  color: var(--primary);
}

.btn:hover {
  background-color: #c29f4e;
}