.container {
  background-color: var(--neutral);
}

.content {
  width: 100%;
  padding: 2rem 1rem;
  max-width: var(--max-width-content);
}

.header {
  color: var(--primary);
}

.img {
  object-fit: contain;
  width: 100%;
}

.cardText {
  color: var(--neutral);
}