.container {
  color: var(--light-blue);
}

.content {
  width: 100%;
  padding: 2rem 1rem;
  max-width: var(--max-width-content);
}

.title {
  padding: 0 1rem;
}

.table {
  margin: 1rem;
  box-shadow: 0 0 10px #000000;
}

.btn {
  background-color: var(--secondary);
  width: 100%;
  box-shadow: 0 0 10px #000000;
}

.btnText {
  padding: 0 1rem;
  width: 100%;
  color: var(--primary);
  text-align: center;
}

.btn:hover {
  background-color: #c29f4e;
}