.container {
  background-color: var(--neutral);
}

.content {
  color: var(--primary);
}

.img {
  width: 100%;
}

.wrapper {
  position: relative;
}

.leftSpec {
  width: 60%;
  left: 0;

  border-right: 5px solid var(--neutral);
}

.rightSpec {
  width: 40%;
  right: 0;

  border-left: 5px solid var(--neutral);
}

.leftSpec, .rightSpec {
  cursor: pointer;

  position: absolute;
  height: 100%;
}

.checked {
  opacity: 30%;
  background-color: var(--neutral);
}

.leftSpec:hover, .rightSpec:hover {
  opacity: 30%;
  background-color: var(--neutral);
}

.box {
  width: 11rem;
  min-height: 11rem;
  background-color: var(--primary);
  color: var(--neutral);
  padding: .9rem;
}

.circle {
  border-radius: 50%;
  background-color: var(--secondary);
  width: 4rem;
  height: 4rem;
  position: relative;
  overflow: visible;
}

.icon {
  color: var(--primary);
  font-size: 2rem;
}

.title {
  color: var(--secondary);
}

.centered {
  text-align: center;
}